.container{
    width: 500px;
padding: 50px;
margin: 150px auto;
border-radius: 10px;
background-image: linear-gradient(120deg , #2193b0 , #6dd5ed);}

input{
    padding: 7px;
    border: 2px solid rgb(146, 76, 146) ;
    border-radius: 10px;
    box-shadow: 4px 3px 5px rgb(212, 83, 36) ;
    margin: 10px;
}
#hour{
    display: block;
    margin: auto;
    width: 150px;
}
.select{
    width: 150px;
    margin: auto;
}
.button{
    display: block;
    width: 125px;
    margin: 20px auto;
    border: 2px solid rgb(30, 30, 110);
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}